<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>

      <div class="row">
       <div class="col-md-6">
           <form method="post" action="/">
             <input type="hidden" value="<%= foto._id %>" name="id"/>
             <div class="form-group">
               <label for="nome">Nome</label>
               <input type="text" class="form-control" id="nome" name="nome" value="<%= foto.nome %>">
             </div>
             <div class="form-group">
               <label for="descricao">Descricao</label>
               <input type="text" class="form-control" id="descricao" name="descricao" value="<%= foto.descricao %>">
             </div>
             <div class="form-group">
               <label for="url">Url</label>
               <input type="text" class="form-control" id="url" name="url" value="<%= foto.url %>">
             </div>
             <button type="submit" class="btn btn-success">Alterar</button>
             <a href="/delete" class="btn btn-danger" role="button">Deletar</a>
             <a href="/" class="btn btn-default" role="button">Voltar</a>
           </form>
       </div>
       <div class="col-md-6">
            <img src="<%= foto.url %>" alt="Teste" class="img-thumbnail" style="width: 605px; height: 268px;">
       </div>
     </div>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>
